:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: white;
}
.container {
  text-align: center;
  background-color: #f44336;
  padding: 50px;
  color: white;
  
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  margin-bottom: 10px;
}
header h2 {
  font-size: 32px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #ff9800;
}

.pizza-image {
  margin-top: 30px;
}
.pizza-image img {
  max-width: 100%;
  height: auto;
  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}